/* Custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;900&display=swap');

@font-face {
    font-family: LOGO;
    src: url("../assets/fonts/logo.otf") format("opentype");
}

@font-face {
    font-family: BODY;
    src: url("../assets/fonts/body.otf") format("opentype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: BODY;

}

/* Color palette */
:root{
    --onyx: #3D3D3DFF;
    --silver: #9C9C9C;
    --white: #EBEBEB;
    --falu-red: #712121FF;
}

/* header*/
body{
    background-color: var(--onyx);
    min-height: 200vh;
    padding-top: 30vh;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 1;
}

header .logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 700;
    font-size: clamp(200px, 2.5vh, 32px) !important;
    text-decoration: none;
    color: var(--white);
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transform: 0.6s;
    font-family: LOGO;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: var(--white);
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

header.sticky{
    padding: 5 100px;
    background-color: var(--white);
    height: 10%;
}

header ul li:not(#navToggle) {
    display: none;
}

header.sticky ul li:not(#navToggle) {
    display: block;
}

header.sticky .logo{
    font-size: clamp(50px, 2.5vh, 32px) !important;
    color: var(--onyx);
    transition: 0.6s;
}

header.sticky ul li a {
    color: var(--onyx); /* Change text color to black */
}


/*nav bar*/
nav{
    position: fixed;
    display: none;
    height: 100vh;
    background-color: var(--white);
    width: 200px;
    padding: 10px;
    transform: translateX(200px);
    transition: transform .5s ease-in-out;
    z-index: 2;
}

nav.active{
    display: block;
    transform: translateX(0);
}
 
nav .logo{
    margin: 10px 0 20px;
}
 
nav .logo a{
    font-size: 22px;
    color: var(--white);
    padding: 10px;
   
    font-weight: 700;
   
    display: flex;
    align-items: center;
    transition: .3s ease;
}
 
nav .logo a:hover{
    padding-right: 20px;
}
 
nav .logo a i {
    font-size: 27px;
    margin-right: 10px;
    transition: .5s ease-in-out;
}
 
nav .logo a:hover i {
    transform: rotate(180deg);
}

nav ul {
    position: relative;
}
 
nav ul li {
    padding: 10px;
    font-weight: 500;
}
 
nav ul li a{
    color: var(--onyx);
    transition: all .5s ease;
}
nav ul li a:hover{
    background-color: var(--falu-red);
    color: var(--white);
    display: block;
    padding-right: 10px;
}
 
button{
    cursor: pointer;
    border: 1px solid var(--white);    
    color:var(--white);
    background-color: var(--falu-red);
    padding: 3px 5px;
    border-radius: 3px;
 
    position: fixed;
    top: 10px;
    right: 10px;
 
    transform: translateX(0);
    transition: background-color .3s ease, transform .47s ease-in-out;
}
 
button:hover{
    background-color: var(--falu-red);
    color:var(--white);
}
 
button.active{
    transform: translateX(-200px);
}

.nav-close-btn {
    position: relative;
    top: 10px;
    right: 10px;
    margin-bottom: 20px;
    border: none;
    background: none;
    color: var(--onyx);
    font-size: 24px;
    cursor: pointer;
}

/* ---------------------------------------------------- */

.Recommend h1 {
    color: var(--white);
    text-align: left; 
    padding-left: 45px;
}

.Recommend-image {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: var(--white); 
    padding: 20px; 
    margin-top: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.Recommend-image img {
    max-width: 350px; 
    max-height: 500px; 
    width: auto; 
    height: auto; 
    margin-right: 20px; 
    border-radius: 5px; 
}

.Recommend {
    padding-left: 20px; 
    padding-right: 20px; 
}

